// Button Colors
@mixin button-color($map) {
  @each $button, $color in $map {
    &--#{$button} {
      background-color: $color;
    }
  }
}

// Creating a flex container
@mixin flex(
 $disp: flex,
 $dir: null, 
 $wrap: null,
 $just:null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}

// Adjacent sibling margins
@mixin double($margin: 1em) {
	& + & {
	  margin-left: $margin;
    @content;
	}
}

// Media Queries
@mixin mq($break) {
  $value: map-get($breakpoints, $break);
  $sm: map-get($breakpoints, 'sm');
            
  @if $value == null {
    @warn "#{$break} is not a valid breakpoint name.";          
  }
            
  @else if $value < $sm {
    @media (max-width: $value) {
      @content;          
    }
  }
  @else {
    @media (min-width: $value) {
      @content;          
   }
  }      
 } 
