// Font Stacks
$font-url: 'https://fonts.googleapis.com/css?family=Montserrat:300,400,800';
$font-family-primary: 'Monteserrat', Arial, sans-serif;

// Breakpoints
$breakpoints: (
  'xs': 480px,
  'lg': 1400px,  
);

// Color Variables
$primary-color: #58E1C1;
$secondary-color: #51DDFC;
$success: #63CC82;
$error: #E4757A;
$warning: #FD7856;
$info: #927BC1;

// Button Colors
$button-color: (
  'default': $secondary-color,
  'success': $success,
  'error': $error,
  'warning': $warning,
  'info': $info,
);

// Grid
$g-col-w: 87px;
$g-gutter-w: 10px;
$g-col-total: 12;
$g-max-width: 1050px;

// Grid Colors
$grid-color: (
  '12': #80E8D1,
  '6': #3FABCA,
  '4': #7EE6FD,
  '3': #DEB2EE,
  '5': #88D9A0,
  '7': #EC9FA3,
  '8': #FD9F85,
);