.form {
  @include flex($dir: column);
}

.form__label--hidden {
  display: none;
}

.form__input {
  border: none;
  border-bottom: 5px solid $primary-color;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: .5em;
  padding-left: 1em;

  &:focus {
    outline: none;
  }
}