.nav {
  margin-bottom: 3em;

  // Flexbox used to make navigation on one line for larger screens
  @include mq('lg') {
    @include flex($dir: row, $just:flex-end);
    flex-direction: row;
    margin-left: 4em;
    margin-top: 1em;
  }
}

.nav__item {
  border-radius: 5px;
  text-align: center;
  margin-right: 5px;
  width: 100%;

  &:first-child {
    background-color: $primary-color;
    & a {
      color: white;
    }
  }

  &:hover {
    background-color: $primary-color;
    & a {
      color: white;
    }
    &:hover {
      opacity: .7;
    }
  }
}

.nav__item a {
  display: block;
  padding: 1em .5em;
  text-decoration: none;
}